body {
	background-color: rgb(232, 166, 74);
	color: #FFFFFF;
	font-family: Georgia, 'Times New Roman', Times, serif; 
	font-size: 16px; 
}

h1 {
	color: #915BC7;
	color: rgba(78, 97, 133,);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 48px;
	font-weight: bolder;
}